@media only screen and (min-width: 0px) { 
  
    *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Nunito Sans', sans-serif;
   
    }
body {
    background-color: #118ab2;
}
    a {
        text-decoration: none;
        color: white;
    }
    
.large-content {
    display: none;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
}


.closeIcon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.3s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
    text-align: center;

}



.showMenu {
    transform: translateY(0);
    background-color: #118ab2;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.25em;
}
.nav-item {
  padding-bottom: 5%;
}

.card-holder {
    margin: 2em 0;
    margin-top: 10vh;
  }
  
  .card {
    font-size: 3em;
    font-weight: 800;
    height: 4em;
    width: 64em;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    display: table-cell;
    vertical-align: middle;
    letter-spacing: -2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: white;
  }
  
  .card .subtle {
    color: #000;
    font-size: 0.5em;
    font-weight: 400;
    letter-spacing: -1px;
  }
  
  .card i {
    font-size: 3em;
  }
  .bg-spring {
    background:#ffd166 ;
    
}

.bg-2{
    background: #06d6a0;
}

div > p {
  font-size: .5em;
  letter-spacing: 0ch;
  text-align: center;
}

.bg-3{
    background: #ef476f;
}
.bg-lg-1 {background: -webkit-linear-gradient(70deg, #ffd166  30%, rgba(0,0,0,0) 30%), -webkit-linear-gradient(30deg, #ef476f 60%, #06d6a0 60%);
    background: -o-linear-gradient(70deg, #ffd166  30%, rgba(0,0,0,0) 30%), -o-linear-gradient(30deg, #ef476f 60%, #06d6a0 60%);
    background: -moz-linear-gradient(70deg, #ffd166  30%, rgba(0,0,0,0) 30%), -moz-linear-gradient(30deg, #ef476f 60%, #06d6a0 60%);
    background: linear-gradient(70deg, #ffd166  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #ef476f 60%, #06d6a0 60%); }



  a:hover {
    cursor: pointer;
    color:#ffd166 ;
  }
.large-cards{
    display: none;
}

/* start gallery/projects */
img {
  width: 400px;
}

/* start contact */

form {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  color: antiquewhite;
  padding: 25px 15px 25px 10px;
  


}
h1 {
  font-size: 25px;
  padding: 0px 0px 10px 40px;
  border-bottom: 1px solid #3d405b;
  margin: -10px -15px 30px -10px;;

}
label {
  display: block;
  margin: 0px;
}

input[type="text"], input[type="email"], textarea, select {
  border: 1px solid #DADADA;
  color: rgb(16, 35, 39);
  height: 50px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 100%;
  font-size: .3em;
  line-height: 15px;
  box-shadow: inset 0px 1px 4px #ECECEC;
}
textarea{
  padding: 5px 3px 3px 5px;
  height:150px;

}
.button {
  background:#118ab2; 
  border: none;
  padding: 10px 25px 10px 25px;
  margin-left: 45%;
  color:white;
  border-radius: 3px;
  font-size: .4em;
}

.button:hover {
  background:#ef476f;
  cursor: pointer;
}
}

@media only screen and (min-width: 576px){}


@media only screen and (min-width:768px) {
    .mobile-content {
        display:none;
    }

    .large-content {
        display: grid;
        grid-template-columns: .3fr 1.7fr;
        padding-top: 2%;


    }
    
    header li {
        display: inline;
      }
    
      header li a {
        color: white;
        padding: 2%;
        font-size: 1.25em;
        font-family: 'Nunito Sans', sans-serif;

      }
    
        .nav-menu {
          left: 0%;
          width: 100%;
          text-align: end;
        grid-column: 2/3;

        }

        .navbar, .nav-branding {
            display: block;
        }
  .mobile-cards {
    display: none;
  }

.large-cards {
    display:block;
    text-align: center;
}

.large-card-holder {
    margin: 2em 0;
    margin-top: 10vh;
  }
  
  .card-large {
    font-size: 3em;
    font-weight: 800;
    height: 4em;
    width: 64em;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    display: table-cell;
    vertical-align: middle;
    letter-spacing: -2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: white;
  }
  
  .card-large .subtle {
    color: #000;
    font-size: 0.5em;
    font-weight: 400;
    letter-spacing: -1px;
  }
  
  .card i {
    font-size: 3em;
  }
  .bg-lg-1 {
    background: -webkit-linear-gradient(70deg, #ffd166  30%, rgba(0,0,0,0) 30%), -webkit-linear-gradient(30deg, #ef476f 60%, #06d6a0 60%);
    background: -o-linear-gradient(70deg, #ffd166  30%, rgba(0,0,0,0) 30%), -o-linear-gradient(30deg, #ef476f 60%, #06d6a0 60%);
    background: -moz-linear-gradient(70deg, #ffd166  30%, rgba(0,0,0,0) 30%), -moz-linear-gradient(30deg, #ef476f 60%, #06d6a0 60%);
    background: linear-gradient(70deg, #ffd166  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #ef476f 60%, #06d6a0 60%);
  }

.bg-lg-2{
    background: #06d6a0;
}

.bg-lg-3{
    background: #ef476f;
}

.bg-lg-4 {
  background:#ffd166;
}

img {
  display: inline;
  width: 400px;
}
/* start gallery/projects */
#gallery-grid .card-large{

    height: 4em;
    width: 4em;
    padding: 0.5em 1em;
   
}

#gallery-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  column-gap: 10em;
  
  
}
.button {
margin-left: 0%;
}
}